body {
  background-color: #282c34;
}

.graphql-example {
  padding: 10px;
  background-color: #282c34;
  color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  color: white;
  text-align: center;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

}

.App-link {
  color: #61dafb;
}

.App-button {
  color: #61dafb;
  border: 2px solid #61dafb;
  background-color: transparent;
  border-radius: 5px;
  line-height: 2em;
  transition: 0.5s;
}

.App-button:hover {
  color: white;
  border: 2px solid white;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.italic {
  font-style: italic;
}

.recipe-button {
  background-color: #61dafb;
  border: none;
  cursor: pointer;
  padding: 15px 32px;
  margin: 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: 0.5s;
}

.recipe-button:hover {
  background-color: white;
}